node_modules
npm-debug.log
service
build
.vscode
.bin
.git
.gitattributes
.gitignore
README*.md
config/localDebug
config/config.json
Dockerfile
config/ca.cert
config/server.cert
config/server.key
config/client.cert
config/client.key
.dockerignore
