
  <header>
  <h1>
    Welcome To Gladius 
  </h1>
  <p1>
    We are a small minecraft community with around 40 active members from around the world.
    we enjoy building and meeting new friends for information on how to join check whitelisting.
    </p1>
  </header>

<!-- Slideshow container -->
<div class="slideshow-container">

    
  <div class="slideshow-slides-container" >
    <div class="slideshow-slide slideshow-fade">
      <div class="slideshow-numbertext"></div>
      <img style="width:100%">
      <div class="slideshow-text"></div>
    </div>
  </div>
 
  <div style="text-align:center">
    <a class="slideshow-prev" onclick="plusSlides(-1)">&#10094;</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="slideshow-next" onclick="plusSlides(1)">&#10095;</a>
  </div>
</div>


  