<div>
    <header><h3>Welcome to Hydra SMP, please follow these rules. D-rules as in discord rules, and G-rules as in Game rules. Thanks for coming and joining us and i hope you can have a great time!!!
    </h3>
    </header>
    <ul>
    <li>D1 --- No pornographic content.</li>
    <li>D2 --- No harassment.</li>
    <li>D3 --- No Racism.</li>
    <li>D4 --- Use the channels properly. </li>
    <li>D5 --- No spamming.</li>
    <li>D6 --- No Political arguments.</li>
    <li>D7 --- No advertising without permission.</li>
    <li>D8 --- No identify theft. </li>
    <li>D9 --- Support LGBTQ+ or ill take ur knees caps.</li>
</ul>
<ul>
    <li>G1 --- No killing at spawn.</li> 
    <li>G2 --- No spam killing, And no attepmt to kill them unless they attack you, and do not attack as soon as you give them their gear back.</li> 
    <li>G3 --- Though killing is aloud, No looting a dead body, You may still take player heads.</li> 
    <li>G4 --- We do not tolerate any combat logging., Consequences with be made at the scene.</li> 
    <li>G5 --- No griefing, stealing or building on someones property without there permission.</li> 
    <li>G6 --- Any arguments can be settled between the two members, or if serious, ask a moderator for help.</li> 
    <li>G7 --- If anyitems are lost during a fight, the player who lost them, has to replace them if they belonged to the other player, Whether that be in the same items, or an agreement on a price in diamonds.</li> 
    <li>G8 --- No cheats, x-ray, or anything that gives you an advantage over other players.</li> 
    <li>G9 --- No killing of pets of someone other then yourself.</li></ul>
</div>