<script>
  
  
  function showError(error){
    alert(err);

  }
  
    var data = $("#name").val();
    $.ajax({
      type: "GET",
      url:"/api/connor",
      data:data,
      dataType:"json",
      cache: false,
  }).then(
        function(data){
          for (var i=0; i<data.length; i++) {
            var row = $('<tr><td>' + data[i].name+ '</td><td>'  + data[i].username+  '</td></tr>');
            $('#name').append(row);
          }
        },
        function(err){
          showError(err)
        }

      )

      
  



  
  </script>

<table class="NameDisplay" id="name">
  <tr>
      <th>User</th>
      <th>Username</th>
      
  </tr>
</table>
